DATABASE_URL="postgresql://user:password@localhost:5432/featureflags"

JWT_SECRET="change_this_to_a_long_random_string"

SUPER_ADMIN_EMAIL="superadmin@system.com"

SUPER_ADMIN_PASSWORD="SuperAdmin@123"

PORT=4000
